<div class="container">
    <div class="section-top-border">
        <h3 class="mb-30">Контакты</h3>
        <div class="progress-table-wrap">
            <div class="progress-table">
                <div class="table-head">
                    <div class="country ml-30">Имя</div>
                    <div class="percentage ml-30">Должность</div>
                    <div class="serial ml-30">Телефон</div>
                </div>
                [[pdoResources?
                    &parents=`8`
                    &tpl=`contact`
                    &includeTVs=`phone, position`
                    &sortby = `{"pagetitle":"ASC"}`
                    &limit = 50
                ]]
            </div>
        </div>
    </div>
</div>
<style>
    .percentage {
        width:50% !important;
    }
</style>