<main id="history">
    <!-- About US Start -->
    <div class="about-area">
        <div class="container">
            <div class="row mt-30">
                <div class="col-lg-8">
                    <!-- Trending Tittle -->
                    <div class="about-right mb-90">
                        <div class="about-img">
                            <img style="border-radius:15px" src="[[pathToTemplate]]/assets/img/about/banner.jpg" alt="">
                        </div>
                        <div class="section-tittle mb-30 pt-30">
                            <h3>Любань</h3>
                        </div>
                        <div class="about-prea">
                            <p class="about-pera1">Впервые упоминается в писцовой книге Водской пятины 1500 года, как деревня Любани в Ильинском Тигодском погосте Новгородского уезда.</p>
                            <p class="about-pera1">2 января 1711 года был учреждён почтовый путь между Санкт-Петербургом и Москвой, проходящий через Любань. Одна из глав «Путешествия из Петербурга в Москву» А. Н. Радищева посвящена Любани (глава «Любань»).</p>
                            <p class="about-pera1">На карте Санкт-Петербургской губернии Я. Ф. Шмита 1770 года упоминается, как деревня Любани.</p>
                            <p class="about-pera1">Весной 1843 года между Санкт-Петербургом и Москвой началось строительство железнодорожной магистрали, в 1849 году через Любань прошёл первый пассажирский поезд, а в 1850 году построено здание железнодорожного вокзала.</p>
                            <p class="about-pera1">В 1867 году рядом с вокзалом была построена церковь по проекту архитектора К. А. Тона.</p>
                            <p class="about-pera1">В 1868 году была построена первая железнодорожная школа.</p>
                            <p class="about-pera1">В 1880 году в Любанской церкви был похоронен автор проекта Николаевской железной дороги и первый министр путей сообщения России П. П. Мельников. В 1954 году его прах перенесли в сквер у здания вокзала, а в 1955 году был установлен бронзовый памятник — бюст П. П. Мельникова работы скульптора Д. М. Епифанова (1915—2010).</p>
                            <p class="about-pera1">К середине XIX века Любань становится волостным центром Новгородского уезда Новгородской губернии.</p>
                            <p class="about-pera1">В 1884 году в Любани начались регулярные гидрометеорологические наблюдения. Сейчас здесь расположена гидрологическая станция I разряда.</p>
                            <p class="about-pera1">В конце XIX — начале XX века село Любань являлось административным центром Любанской волости 1-го стана 1-го земского участка Новгородского уезда Новгородской губернии. Смежно с селом располагался ещё ряд одноимённых поселений общей численностью населения 4109 человек.</p>
                            <blockquote class="generic-blockquote ml-30">ЛЮБАНЬ — деревня Любанского сельского общества, дворов — 52, жилых домов — 76, число жителей: 121 м. п., 122 ж. п., занятия жителей — земледелие, отхожие промыслы. Часовня, хлебозапасный магазин, школа, мелочная лавка.</blockquote>
                            <blockquote class="generic-blockquote ml-30">ЛЮБАНЬ — посёлок при деревне на обрезе Московского шоссе, дворов — 6, жилых домов — 6, число жителей: 16 м. п., 12 ж. п., занятия жителей — огородничество. Церковь, Дом трудолюбия.</blockquote>
                            <blockquote class="generic-blockquote ml-30">ЛЮБАНЬ — станция Николаевской железной дороги, дворов — 27, жилых домов — 27, число жителей: 116 м. п., 112 ж. п., занятия жителей — служба на ж. д. Смежна с селом Любань.</blockquote>
                            <blockquote class="generic-blockquote ml-30">ЛЮБАНЬ — село на владельческой земле, дворов — 281, жилых домов — 346, число жителей: 1812 м. п., 1762 ж. п., занятия жителей — торговля, служба на ж. д. 2 церкви, 2 школы, 2 больницы, волостное правление, земская станция, почтово-телеграфная контора, квартира станового пристава, квартира судебного следователя, лавка, 2 трактира, винная лавка, погреб, пивная лавка, 8 чайных.</blockquote>
                            <blockquote class="generic-blockquote ml-30">ЛЮБАНЬ — усадьба дачная Огородниковых, дворов — 3, жилых домов — 3, число жителей: 3 м. п., 2 ж. п., занятия жителей — чернорабочие.</blockquote>
                            <blockquote class="generic-blockquote ml-30">ЛЮБАНЬ — усадьба на собственной земле, дворов — 1, жилых домов — 7, число жителей: 3 м. п., 3 ж. п., занятия жителей — земледелие. Смежна с селом Любань.</blockquote>
                            <blockquote class="generic-blockquote ml-30">ЛЮБАНЬ (ОГОРОДНИК) — усадьба Амбропанцева-Нечаева, дворов — 10, жилых домов — 10, число жителей: 15 м. п., 10 ж. п., занятия жителей — земледелие. Смежна с селом Любань. (1907 год)</blockquote>
                            <p class="about-pera1">Постановлением Временного правительства от 3 июня 1917 года пос. Любань-Горка Новгородского уезда был обращён в город Любань-Горка.</p>
                            <p class="about-pera1">С 1917 по 1927 год Любань также была административным центром Любанской волости Новгородского уезда Новгородской губернии.</p>
                            <p class="about-pera1">В 1927—1930 годах Любань была административным центром Любанского района Ленинградской области.</p>
                            <p class="about-pera1">В 1930 году вошла в состав Тосненского района.</p>
                            <p class="about-pera1">По данным 1933 года город Любань являлся также административным центром Любанского сельсовета Тосненского района, в который входили 10 населённых пунктов: деревни Болотница, Бородулино, Веретье, Ильинский Погост, Любань, Малая Кунесть, Большая Переходная, Малая Переходная, посёлок Верваренский и село Померанье, общей численностью населения 1831 человек.</p>
                            <p class="about-pera1">По данным 1936 года в состав Любанского сельсовета входили 19 населённых пунктов, 700 хозяйств и 6 колхозов.</p>
                            <p class="about-pera1">В ходе Большого террора 1937—1938 годов, по имеющимся данным, было расстреляно 64 любанца в возрасте от 24 до 67 лет.</p>
                            <p class="about-pera1">Оба служивших в Петропавловском храме Любани протоиерея, Косьма Евдокимов и Петр Ильиногорский, были арестованы 10 ноября 1937 года и 14 декабря расстреляны в Ленинграде.</p>
                            <p class="about-pera1">В 1939 году любанский храм был закрыт и стал использоваться как склад. Во время оккупации в нём возобновились богослужения, после проведения первоочередного ремонта (25 августа 1941 года храм был повреждён взрывом авиабомбы, которая проломила купол и взорвалась в центре храма).</p>
                            <p class="about-pera1">В 1941—1944 годах Любань была оккупирована[18]. На подступах к городу всю первую половину 1942 года велись исключительно жестокие и кровопролитные бои (Любанская наступательная операция и Операция по выводу из окружения 2-й ударной армии).</p>
                            <p class="about-pera1">К началу 1950-х годов город был почти полностью восстановлен.</p>
                            <p class="about-pera1">С 1 февраля 1963 года город подчинён Тосненскому горсовету.</p>
                            <p class="about-pera1">В 1989 году началось восстановления храма святых апостолов Петра и Павла, а 17 сентября 1999 года состоялась торжественная церемония его освящения. Прах П. П. Мельникова торжественно перенесён в нижний придел храма в 2000 году.</p>
                            <p class="about-pera1">1 января 2006 года образовано муниципальное образование «Любанское городское поселение», Любань стала его административным центром.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3 class="mb-30">Справка</h3>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Страна</h6></div>
                        <div class="col-lg-7">Россия</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Субъект Федерации</h6></div>
                        <div class="col-lg-7">Ленинградская область</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Муниципальный район</h6></div>
                        <div class="col-lg-7">Тосненский</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Городское поселение</h6></div>
                        <div class="col-lg-7">Любанское</div>
                    </div>

                    <h5 class="mb-30">История и география</h5>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Первое упоминание</h6></div>
                        <div class="col-lg-7">1500 год</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Прежние названия</h6></div>
                        <div class="col-lg-7">Любани</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Город с</h6></div>
                        <div class="col-lg-7">1917 года</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Площадь</h6></div>
                        <div class="col-lg-7">7 км²</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Высота центра</h6></div>
                        <div class="col-lg-7">41 м</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Часовой пояс</h6></div>
                        <div class="col-lg-7">UTC+3:00</div>
                    </div>

                    <h5 class="mb-30">Население</h5>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Население</h6></div>
                        <div class="col-lg-7">4444 человека (2020)</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Катойконим</h6></div>
                        <div class="col-lg-7">люба́нцы, люба́нец, люба́нка</div>
                    </div>


                    <h5 class="mb-30">Цифровые идентификаторы</h5>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Телефонный код</h6></div>
                        <div class="col-lg-7">+7 81361</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Почтовые индексы</h6></div>
                        <div class="col-lg-7">187050—187052</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Код ОКАТО</h6></div>
                        <div class="col-lg-7">41248505</div>
                    </div>
                    <div class="row mb-15">
                        <div class="col-lg-5"><h6>Код ОКТМО</h6></div>
                        <div class="col-lg-7">41648105001</div>
                    </div>
                    <img class="my-2" src="[[pathToTemplate]]/assets/img/about/map.jpg" width="100%" />
                    <img class="my-2" src="[[pathToTemplate]]/assets/img/about/img.jpg" width="100%" />
                    <img class="my-2" src="[[pathToTemplate]]/assets/img/about/img_1.jpg" width="100%" />
                </div>
            </div>
        </div>
    </div>
    <!-- About US End -->
</main>
