<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top theme-bg d-none d-md-block">
                <div class="container">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>
                                    <li><img src="[[pathToTemplate]]/assets/img/icon/header_icon1.png" alt="">3ºc, Дождь </li>
                                    <li><img src="[[pathToTemplate]]/assets/img/icon/header_icon2.png" alt="">Четверг, 12 Октября, 2020</li>
                                </ul>
                            </div>
                            <div class="header-info-right">
                                <ul class="header-social">
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li></li><li></li>
                                    <li> <a href="#"><i class="fa fa-eye"></i></a> <span class="white-color">&nbsp&nbspВерсия для слабовидящих</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-mid d-none d-md-block">
                <div class="container">
                    <div class="row d-flex align-items-center mb-10 mt-10">
                        <div class="col-lg-8">
                            <div class="logo f-left">
                                <a href="index.html"><img src="[[pathToTemplate]]/assets/img/logo/logo.gif" alt="" height="90px"></a>
                            </div>
                            <div class="f-left ml-30">
                                <h5>
                                    Муниципальное образование<br>
                                    Любанское городское поселение
                                </h5>
                                <hr class="my-0 mt">
                                <h6 class="mt-1">Тосненского района, Ленинградской области</h6>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="row justify-content-end mr-0" style="margin-top:-10px; margin-bottom:5px;">
                                <!--<i class="fa fa-phone" style="transform: rotate(110deg); margin-right: 10px"></i>--><h5>8 (800) 123-45-67</h5>
                            </div>
                            <div class="row justify-content-end mr-0"><a href="#" class="genric-btn theme-bg-secondary radius large">Написать обращение &nbsp
                                <img src="site/templates/default/assets/img/icon/mail-icon.svg" width="25px">
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-10 col-md-10 header-flex">
                            <!-- sticky -->
                            <div class="sticky-logo">
                                <a href="index.html"><img src="[[pathToTemplate]]/assets/img/logo/logo.gif" height="70px"></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-md-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>
                                            <a>Общая информация</a>
                                            <ul class="submenu">
                                                <li><a href="contacts">Контакты</a></li>
                                                <li><a href="history">История Любани</a></li>
                                                <li>
                                                    <a href="404" class="else-sub">Полномочия, задачи, цели</a>
                                                    <ul class="submenu sub-2">
                                                        <li><a href="404">Совет дерутатов</a></li>
                                                        <li><a href="404">Администрация</a></li>
                                                    </ul>
                                                </li>
                                                <li >
                                                    <a href="management" class="else-sub">Руководство</a>
                                                    <ul class="submenu sub-2">
                                                        <li><a href="management/glava">Глава поселения</a></li>
                                                        <li><a href="management/administration">Глава администрации</a></li>
                                                        <li><a href="404">Директор МКУУСРБ</a></li>
                                                        <li><a href="management/sovet">Совет Депутатов</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="404">Воинская слава</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Законодательство</a>
                                            <ul class="submenu">
                                                <li><a href="404">Нормативные правовые акты</a></li>
                                                <li><a href="404">Тексты проектов правовых актов</a></li>
                                                <li><a href="404">Информация о закупках</a></li>
                                                <li><a href="404">Административные регламенты</a></li>
                                                <li><a href="404">Формы обращений, заявлений</a></li>
                                                <li><a href="404">Порядок обжалования актов</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Деятельность</a>
                                            <ul class="submenu">
                                                <li><a href="404">Статистические данные и показатели</a></li>
                                                <li><a href="404">Использование бюджетных средств</a></li>
                                                <li><a href="404">Организациям и предприятиям</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Кадровое обеспечение</a>
                                            <ul class="submenu">
                                                <li><a href="404">Порядок поступления граждан</a></li>
                                                <li><a href="404">Сведения о вакантных должностях</a></li>
                                                <li><a href="404">Квалификационные требования к кандидатам</a></li>
                                                <li><a href="404">Условия и результаты конкурсов</a></li>
                                                <li><a href="404">Контакты</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Обращения граждан</a>
                                            <ul class="submenu">
                                                <li><a href="404">Порядок и время приема граждан</a></li>
                                                <li><a href="404">Контакты</a></li>
                                                <li><a href="404">Принятые меры</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Ещё</a>
                                            <ul class="submenu">
                                                <li><a href="404">Мероприятия</a></li>
                                                <li><a href="404">ГО и ЧС</a></li>
                                                <li><a href="404">Результаты проверок</a></li>
                                                <li><a href="404">Заявления руководителей</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <i class="fas fa-search special-tag"></i>
                                <div class="search-box">
                                    <form action="#">
                                        <input type="text" placeholder="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-md-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<style>
    /*.main-header .main-menu ul ul.submenu {
        width: 1200px;
    }
    .main-header .main-menu ul li {
        position: unset;
    }
    .main-header .main-menu ul ul.submenu > li {
        display: inline-block;
        width: 20%;
        margin: 10px;
        padding-left: 5px
    }*/
    .header-sticky.sticky-bar.sticky .col-xl-10 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .main-header .main-menu ul ul.submenu{
        width: 200px;
    }
    .main-header .main-menu ul ul.submenu > li > a {
        text-transform: none;
    }
    #navigation a{
        cursor: pointer;
    }
    .submenu.sub-2{
        left: 100% !important;
        border-top: none !important; 
        margin-top:-40px
    }
    .else-sub::after{
        content: '\203A';
        text-align: right;
        float:right;
        color: gray;
        display: inline-block;
        vertical-align: middle;
    }
</style>