<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <base href="[[!++site_url]]" />
        <title>Любанское городское поселение</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="manifest" href="site.webmanifest">-->
		<link rel="shortcut icon" type="image/x-icon" href="[[pathToTemplate]]/assets/img/favicon.ico">

        <script src="./[[pathToTemplate]]/assets/js/vendor/jquery-1.12.4.min.js"></script>
		<script src="./[[pathToTemplate]]/assets/libs/jquery-ui.min.js"></script>
		<!-- CSS here -->
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/ticker-style.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/flaticon.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/slicknav.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/animate.min.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/themify-icons.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/slick.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/nice-select.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/style.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/css/custom.css">
            <link rel="stylesheet" href="[[pathToTemplate]]/assets/libs/bvi/css/bvi.min.css" type="text/css">
    </head>

    <body>
        <!-- Preloader Start -->
        <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="[[pathToTemplate]]/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
        </div> -->
        <!-- Preloader Start -->
        [[$header]] 
        <div class="container" style="margin-top:30px">
            <div class="row">
                {if $_modx->resource.menutitle == 'no_menu'}
                <div class="col-12">
                {else}
                <div class="col-lg-4">[[$sideMenu]]</div>
        
                <div class="col-lg-8">
                {/if}
                    [[*content]]
                </div>
            </div>
        </div>
        
        [[$footer]]
        <!-- JS here -->
        <!-- All JS Custom Plugins Link Here here -->
        <script src="./[[pathToTemplate]]/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Popper, Bootstrap -->
        <script src="./[[pathToTemplate]]/assets/js/popper.min.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="./[[pathToTemplate]]/assets/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./[[pathToTemplate]]/assets/js/owl.carousel.min.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/slick.min.js"></script>
        <!-- Date Picker 
        <script src="./[[pathToTemplate]]/assets/js/gijgo.min.js"></script>-->
        <!-- One Page, Animated-HeadLin -->
        <script src="./[[pathToTemplate]]/assets/js/wow.min.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/animated.headline.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/jquery.magnific-popup.js"></script>

        <!-- Breaking New Pluging -->
        <script src="./[[pathToTemplate]]/assets/js/jquery.ticker.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/site.js"></script>

        <!-- Scrollup, nice-select, sticky -->
        <script src="./[[pathToTemplate]]/assets/js/jquery.scrollUp.min.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/jquery.nice-select.min.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/jquery.sticky.js"></script>

        <!-- contact js -->
        <script src="./[[pathToTemplate]]/assets/js/contact.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/jquery.form.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/jquery.validate.min.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/mail-script.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/jquery.ajaxchimp.min.js"></script>

        <!-- Jquery Plugins, main Jquery -->
        <script src="./[[pathToTemplate]]/assets/js/plugins.js"></script>
        <script src="./[[pathToTemplate]]/assets/js/main.js"></script>
        
        <script src="./[[pathToTemplate]]/assets/js/ajaxFilter.js"></script>
         
        <!---version for the visually impaired--->
        <script src="./[[pathToTemplate]]/assets/libs/bvi/js/js.cookie.js"></script>
        <script src="./[[pathToTemplate]]/assets/libs/bvi/js/bvi-init.js"></script>
        <script src="./[[pathToTemplate]]/assets/libs/bvi/js/bvi.min.js"></script>
		
    </body>
</html>